@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --vermelho: #E50914;
  --preto: #141414;
  --cor-texto: #AAA;
  --cor-texto-branco: #FFF;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  text-transform: none;
  color: var(--cor-texto-branco);
  box-sizing: border-box;
  transition: all .4s;
}

body {
  background-color: var(--preto);
  font-family: Helvetica,Arial,sans-serif;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between ;
}

header h1 {
  font-family: 'Bebas Neue', cursive;
  color: var(--vermelho);
  letter-spacing: 3px;
  font-size: 40px;
}

header nav a {
  color: var(--cor-texto);
  margin-right: 10px;
}

header nav a:hover {
  color: var(--cor-texto-branco);
}

.button {
  background-color: rgba(0, 0, 0, .6);
  color: var(--cor-texto-branco);
  font-weight: 600;
  
  margin-right: 15px;
  border: none;border-radius: 6px;
  padding: 15px 30px;
}

.button .fas {
  margin-right: 6px;
}

.button:hover {
  background-color: var(--cor-texto-branco);
  color: var(--preto);
}

/* SEÇÂO DE DESTAQUE*/
main .serie-principal {
  font-size: 14px;
  background:linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .2)100%), url("/assets/img/peaky-background.jpg");

  height: 60%;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
}

main .serie-principal .descricao {
  margin-bottom: 40px;
}

main .serie-principal .titulo {
  margin-top: 5%;
  font-size: 36px;
  margin-bottom: 12px;
}
